.bg-dark{
    background-color: #343a40;
}
.white-font{
    color: white;
}

.floating-right{

    float: right;
}
.fill-line{
width: -webkit-fill-available;
overflow: auto;
margin: 10px;
}

.add-btn{
    margin: 22px 0 22px 0;
}